@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-6">Welkom bij Vrijwilligerswerk Platform</h1>
        <p class="lead">Beheer en registreer vrijwilligerswerk eenvoudig.</p>
    </div>

    <div class="row justify-content-center mt-10">
        <div class="col-md-5">
            <a href="/NieuwWerk/MaakWerk" class="btn btn-primary btn-lg w-50">
                Nieuw Vrijwilligerswerk Toevoegen
            </a>
        </div>
        <div class="col-md-5">
            <a href="/RegistreerWerk/VrijwilligersWerkOverzicht" class="btn btn-success btn-lg w-50">
                Registreer Voor Vrijwilligerswerk
            </a>
        </div>
    </div>
</div>
